<div ng-repeat="item in vm.alerts" class="alert alert-danger" role="alert">{{item|ticketErrors|translate}}</div>
<form class="form-inline" name="ticketListForm">
  <div class="form-group">
    <label>{{'tickets_search_number'|translate}}</label>
    <input type="text" class="form-control" name="number" id="number"
           placeholder="{{'tickets_search_number'|translate}}"
           ng-model="vm.form.number" ui-validate="{NumberFormat:'vm.validateTicketNumber($value)'}"/>
    <button class="btn btn-info " ng-click="vm.query(ticketListForm)" ondblclick="return false;"><i class="glyphicon glyphicon-filter"></i>{{'button_query'
      |
      translate}}
    </button>
  </div>
  <div class="error-message" ng-if="vm.interacted(ticketListForm,ticketListForm.number)"
       ng-messages="ticketListForm.number.$error">
    <div ng-message="NumberFormat">{{'ticketId_input_error'|translate}}</div>
  </div>
  <tabset justified="true" style="margin-top: 20px">
    <tab ng-repeat="tab in vm.tabs" heading="{{tab.label|translate}}" active="tab.active"
         select="vm.select(tab.id,ticketListForm)">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>{{'tickets_table_number'|translate}}</th>
          <th>{{'tickets_table_title'|translate}}</th>
          <th>{{'tickets_table_status'|translate}}</th>
          <th>{{'tickets_table_module'|translate}}</th>
          <th>{{'tickets_table_time'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.tickets">
          <td style="width:10%"><a ui-sref="ticket.ticket.ticketInfo({id:item.id})">#{{item.number}}</a></td>
          <td style="width:30%" class="breakword">{{item.title}}</td>
          <td style="width:20%">{{item.status|ticketStatus|translate}}</td>
          <td style="width:20%">{{item.module|ticketModule|translate}}</td>
          <td style="width:20%">{{item.updatedAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </table>
      <div class="text-right">
        <pagination total-items="vm.totalItems" ng-model="vm.form.page" class="pagination-sm" boundary-links="true"
                    num-pages="vm.totalPages" max-size="5" rotate="false" items-per-page="vm.form.pageSize"
                    ng-change="vm.query(ticketListForm)"
                    previous-text="{{'button_previous'|translate}}" first-text="{{'button_first'|translate}}"
                    next-text="{{'button_next'|translate}}"
                    last-text="{{'button_last'|translate}}"></pagination>
      </div>
    </tab>
  </tabset>
  </div>
</form>
